@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: hsl(0, 0%, 98%);
    --secondary-color: hsl(0, 0%, 100%);
    --accent-color: hsl(158, 82%, 39%);
    --primary-text: hsl(0, 0%, 0%);
    --secondary-text: hsl(136, 9%, 61%);
    --red: hsl(0, 100%, 50%);
    --orange: hsl(16, 100%, 50%);
    --light-yellow: hsl(39, 100%, 50%);
    --light-green: hsl(120, 61%, 50%);
    --light-red: hsl(0, 57%, 97%);
    --dark-orange: hsl(16, 100%, 40%);
    --dark-green: hsl(135, 100%, 27%);
    --dark-red: hsl(358, 92%, 29%);
    --white: hsl(0, 0%, 100%);
    --gray: hsl(160, 6%, 81%);
    --black: hsl(0, 0%, 0%);

    --footer: hsl(274, 82%, 60%);
    --font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family)
}

html {
    height: 100%;
    background-color: var(--primary-color);
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    margin: 5% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    flex: 1;
}

.date-info__container>p {
    padding: 0.2rem 0;
}

.date-info__container>p:nth-of-type(1) {
    font-size: 1.5rem;
    font-weight: 700;
}

.date-info__container>p:nth-of-type(2) {
    font-size: 1rem;
    font-weight: 300;
    color: var(--secondary-text);
}

.task-add__container {
    width: 30%;
}

.task-add__container>button {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    outline: none;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border-radius: 0.5rem;
    cursor: pointer;
}

nav>ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav>ul>li {
    min-width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.75rem;
    list-style: none;
    cursor: pointer;
}


nav>ul>li>a {
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: var(--primary-text);
}

nav>ul>li>a>span {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    color: var(--white);
    border-radius: 1rem;
}

nav>ul>li.active {
    font-weight: 600;
    border-bottom: 2px solid var(--accent-color);
}

nav>ul>li.active>a>span {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

main {
    margin: 1rem;
}

.task__container {
    margin: 1.5rem 0.5rem;
}

.sort__container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sort__container>p {
    font-weight: 600;
}

.sort__container>select {
    padding: 0.1rem;
    border: 2px solid var(--gray);
}

.sort__container>select:focus {
    border: 2px solid var(--accent-color);
}

.task__container .task__card {
    padding: 1.25rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: -1px 1px 5px 2px var(--gray);
    background-color: var(--secondary-color);
}

.task__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task__container .task__card .task__body .task__details {
    width: 80%;
}

.task__container .task__card .task__body .task__name {
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: capitalize;
}

.task__container .task__card .task__body .task__date,
.task__container .task__card .task__body .task__time,
.task__date-container {
    font-size: 0.8rem;
    color: var(--secondary-text);
}

.task__container .task__card .task__body .task__priority {
    margin: 0.25rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.75rem;
    font-weight: bolder;
    color: var(--secondary-text);
}

.task__container .task__card .task__body .task__priority.urgent {
    color: var(--red);
}

.task__container .task__card .task__body .task__priority.important {
    color: var(--light-yellow);
}

.task__container .task__card .task__body .task__priority.non-urgent {
    color: var(--light-green);
}

.task__container .task__card .task__body .task__priority>span {
    width: 10px;
    height: 10px;
    margin: 0 0.5rem 0 0;
    display: block;
    border-radius: 10px;
}

.task__container .task__card .task__body .task__priority.urgent>span {
    background-color: var(--red);
}

.task__container .task__card .task__body .task__priority.important>span {
    background-color: var(--light-yellow);
}

.task__container .task__card .task__body .task__priority.non-urgent>span {
    background-color: var(--light-green);
}

.task__container .task__card .task__body .task__near-deadline {
    font-size: 0.75rem;
    font-weight: bold;
    color: var(--red);
}


.task__circle {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
}

.task__circle>p {
    position: absolute;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    font-weight: bolder;
    border-radius: 0.25rem;
    rotate: -5deg;
}

.task__card--unfinished .task__circle {
    border: 2px solid var(--orange);
    background-color: #FFDACC;
}

.task__card--unfinished .task__circle>p {
    border: 2px solid var(--orange);
    background-color: #FFA684;
    color: var(--dark-orange);

}

.task__card--finished .task__circle {
    border: 2px solid var(--light-green);
    background-color: #D2FFDE;
}

.task__card--finished .task__circle>p {
    border: 2px solid var(--light-green);
    background-color: #A6FFBC;
    color: var(--dark-green);
}

.task__card--finished .task__name {
    text-decoration: line-through;
    color: var(--dark-green);
}

.task__card--deleted .task__circle {
    border: 2px solid var(--red);
    background-color: #FCADAF;
}

.task__card--deleted .task__circle>p {
    border: 2px solid var(--red);
    background-color: #FA7073;
    color: var(--dark-red);
}

.task__container .task__card.task__card--deadline {
    border: 1px solid var(--red);
    background-color: var(--light-red);
}

.task__buttons {
    width: 75%;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task__buttons>button {
    padding: 0.35rem;
    border: none;
    border-radius: 0.25rem;
    outline: none;
    cursor: pointer;
}


.task__buttons>button.primary__btn {
    background-color: var(--accent-color);
    color: var(--white);
}

.task__buttons>button.danger__btn {
    border: 1px solid var(--red);
    background-color: var(--white);
    color: var(--red);
}

.task__card--unfinished .task__buttons>.danger__btn:hover,
.task__card--deleted .task__buttons>.danger__btn:hover {
    border: 1px solid #ED5E68;
    background-color: #ED5E68;
    color: var(--white);
}

.task__date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.modal__task-add {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.25rem;
    background-color: var(--primary-color);
    z-index: 9999;
}

.modal__task-add {
    padding: 1rem;
}

.modal__task-add .modal__header {
    display: flex;
    justify-content: space-between;
}

.modal__task-add .modal__header>p {
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
}

.modal__task-add .modal__body .form__task-container {
    margin: 1rem 0;
}

.modal__task-add .modal__body .form__task-container>form>.input__container {
    margin: 1.5rem 0;
}

.modal__task-add .modal__body .form__task-container>form>.input__container>label {
    font-weight: 700;
}

.modal__task-add .modal__body .form__task-container>form>.input__container>input,
.modal__task-add .modal__body .form__task-container>form>.input__container>select {
    width: 100%;
    margin: 0.3rem 0 0.25rem;
    padding: 0.5rem;
    display: block;
    border-radius: 0.25rem;
    border: 1px solid var(--black);
}

.modal__task-add .modal__body .form__task-container>form>.input__container>input.input--error,
.modal__task-add .modal__body .form__task-container>form>.input__container>select.input--error {
    border: 1px solid var(--red);
}

.modal__task-add .modal__body .form__task-container>form>.input__container .input__error {
    font-size: 0.75rem;
    font-weight: bold;
    color: var(--red);
}

.modal__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal__footer>button.primary__btn {
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--accent-color);
    color: var(--white);
    cursor: pointer;
}

.empty__task-container {
    margin: 2rem 0;
}

.empty__task-container>p {
    text-align: center;
}

.empty__task-container>p:nth-of-type(1) {
    font-size: 2rem;
}

.empty__task-container>p:nth-of-type(2) {
    font-size: 1.25rem;
    font-weight: 500;
    font-style: oblique;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footer);
}

.footer__container {
    padding: 1.5rem;
    text-align: center;
    color: var(--white);
}

.footer__container .footer__text-container>p {
    padding: 0.5rem 0;
}

.footer__container .footer__text-container>p:nth-of-type(1) {
    font-size: 1.25rem;
    font-weight: 500;
    font-style: oblique;
}

.footer__container .footer__text-container>p:nth-of-type(2) {
    font-size: 1rem;
}


.footer__container .icon__container {
    padding: 1rem 0;
}

.footer__container .icon__container>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__container .icon__container>ul>li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.footer__container .icon__container>ul>li>a {
    color: var(--white)
}

.footer__container .icon__container>ul>li>a>i {
    font-size: 1.5rem;
}

@media only screen and (min-width:300px) {
    .task__date-container {
        width: 97%;
    }

}

@media only screen and (min-width:400px) {
    .task__container .task__card .task__body .task__details {
        width: 75%;
    }
}

@media only screen and (min-width:700px) {
    header,main{
        width: 60%;
        margin: 0 auto;
    }

    .sort__container {
        width: 70%;
    }

    .task__container .task__card .task__body .task__details {
        width: 60%;
    }

    .task__circle {
        height: 65px;
        width: 65px;
    }

    .task__circle>p {
        width: 90px;
        font-size: 0.75rem;
        rotate: -10deg;
    }
}

@media only screen and (min-width:1200px) {
    header,main{
        width: 40%;
        margin: 0 auto;
    }

    header{
        justify-content: space-between;
    }

    .task-add__container {
        width: 30%;
        display: flex;
        justify-content: center;
    }

    .task-add__container>button {
        width: 70%;
    }

    .sort__container {
        width: 60%;
        justify-content: space-between;
    }

    nav>ul {
        justify-content: space-between;
    }

    nav>ul>li>a {
        font-size: 1rem;
     }
 
     nav>ul>li>a>span {
         width: 20%;
     }

    .task__container .task__card .task__body .task__details {
        width: 50%;
    }
}

@media only screen and (min-width:1700px) {
    header,main{
        width: 35%;
        margin: 0 auto;
    }

    .sort__container {
        width: 50%;
    }

    .task__circle {
        height: 90px;
        width: 90px;
    }

    .task__circle>p {
        width: 120px;
        font-size: 1rem;
        rotate: -10deg;
    }

    .task__container .task__card .task__body .task__details {
        width: 60%;
    }

    .task__container .task__card .task__body .task__name {
        font-size: 2rem;
    }

    .task__container .task__card .task__body .task__date, .task__container .task__card .task__body .task__time, .task__date-container {
        font-size: 1.25rem;
        color: var(--secondary-text);
    }

    .task__container .task__card .task__body .task__priority {
        font-size: 1.25rem;
    }

    .task__buttons {
        width: 70%;
    }

    .task__buttons>button {
        padding: 0.5rem;
        font-size: 1.25rem;
        border: none;
        border-radius: 0.25rem;
        outline: none;
        cursor: pointer;
    }
}